/* css */
body{
    background-color: #ffb6c1;
    /*Added backgroung color*/

}

h1{
    font-family: "Lucida Console", monospace;
    /*Added font style*/
}

.face1{
    width: 250px;
    height: 410px;
    background-color: #E3B095;
    border-radius: 115px;
    position: absolute;
    z-index: 3;
    left: 577px;
    /*top: 269px;*/
}

.faceLeft{
    width: 240px;
    height: 410px;
    background-color: #E3B095;
    border-radius: 115px;
    position: absolute;
    z-index: 3;
    left: 555px;
    top: 122px;
    transform: rotate(-21.66deg)
}

.faceRight{
    width: 205px;
    height: 420px;
    background-color: #E3B095;
    border-radius: 115px;
    position: absolute;
    z-index: 3;
    left: 650px;
    top: 120px;
    transform: rotate(-160.89deg);
}

.hairTop{
    width: 286px;
    height: 121px;
    background-color: #302414;
    border-radius: 39px;
    position: absolute;
    z-index: 3;
    left: 577px;
    top: 80px;
}

.hairLeft1{
    width: 304.98px;
    height: 94px;
    background-color: #302414;
    border-radius: 39px;
    position: absolute;
    z-index: 3;
    left: 400px;
    top: 175px;
    transform: rotate(-57.27deg);
} 

.hairLeft2{
    width: 450px;
    height: 100px;
    background-color: #302414;
    border-radius: 39px;
    position: absolute;
    z-index: 3;
    left: 280px;
    top: 450px;
    transform: rotate(89.03deg);  
}

.hairRight1{
    width: 304.98px;
    height: 94px;
    background-color: #302414;
    border-radius: 39px;
    position: absolute;
    z-index: 3;
    left: 740px;
    top: 175px;
    transform: rotate(57.27deg);
}

.hairRight2{
    width: 450px;
    height: 100px;
    background-color: #302414;
    border-radius: 39px;
    position: absolute;
    z-index: 3;
    left: 730px;
    top: 450px;
    transform: rotate(89.03deg);  
}

.hairBack{
    width: 458px;
    height: 525px;
    background-color: #302414;
    border-radius: 39px;
    position: absolute;
    z-index: 3;
    left: 495px;
    top: 200px;
}

.eyebrowLeft1{
    width: 96.51px;
    height: 20px;
    background-color: #302414;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 607.18px;
    top: 250px;
    transform: rotate(8.14deg); 
}

.eyebrowLeft2{
    width: 66.92px;
    height: 15px;
    background-color: #302414;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 565px;
    top: 262px;
    transform: rotate(-43deg); 
}

.eyebrowRight1{
    width: 96.51px;
    height: 20px;
    background-color: #302414;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 735px;
    top: 250px;
    transform: rotate(-8.14deg); 
}

.eyebrowRight2{
    width: 66.92px;
    height: 15px;
    background-color: #302414;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 810px;
    top: 262px;
    transform: rotate(44deg); 
} 

.glassesRimL{
    width: 120px;
    height: 90px;
    background-color: #FFD516;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 590px;
    top: 280px;
}

.glassesRimR{
    width: 120px;
    height: 90px;
    background-color: #FFD516;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 720px;
    top: 280px;  
}

.glassesMiddle{
    width: 29px;
    height: 7px;
    background-color: #FFD516;
    position: absolute;
    z-index: 3;
    left: 700px;
    top: 320px;
}

.glassesInteriorL{
    width: 110px;
    height: 80px;
    background-color: #EC9F6A;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 595px;
    top: 285px;
}

.glassesInteriorR{
    width: 110px;
    height: 80px;
    background-color: #EC9F6A;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 725px;
    top: 285px;
}

.eyeR{
    width: 55px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 755px;
    top: 305px;  
}

.eyeL{
    width: 55px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 620px;
    top: 305px;  
}

.eyeInnerR{
    width: 20px;
    height: 20px;
    background-color: #1E1E1E;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 771px;
    top: 320px;  
}

.eyeInnerL{
    width: 20px;
    height: 20px;
    background-color: #1E1E1E;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 638px;
    top: 320px;  
}

.mouthTop{
    width: 95px;
    height:20px;
    background-color: #E76552;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 660px;
    top: 420px;
}

.mouthBottom{
    width: 104px;
    height:20px;
    background-color: #E76552;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 655px;
    top: 440px;
}

.mouthL{
    width: 45.05px;
    height: 25px;
    background-color:#E76552;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 634px;
    top: 424px;
    transform: rotate(47.64deg); 
}

.mouthR{
    width: 45.05px;
    height: 25px;
    background-color:#E76552;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 735px;
    top: 424px;
    transform: rotate(-47.64deg); 
}


